body {
    background-color: #f7f7f7;
    color: black;
    font-family: "Segoe UI", Roboto;
    line-height: 1.5;
    margin: 0;
}

main {
    width: 700px;
    margin: 50px auto 0;
    border-radius: 20px;
    box-shadow: 8px 8px 13px #cbcbc6, -8px -8px 13px #ffffff;
    padding: 60px 0;
    text-align: center;
}

#header {
    font-size: 3rem;
}

#timer {
    margin: 0px;
}

#newTask {
    padding:10px;
    border: 1px solid #ccc;
}

#newTask:hover {
    border: 1px solid #aaa;
}

#toDoList {
    margin-top: 30px;
}

#toDoList > div {
    margin: 0px 20px;
    padding: 5px 0 0;
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr;
    box-shadow: 8px 8px 13px #cbcbc6, -8px -8px 13px #ffffff;
    border-radius: 5px;
}

#toDoList > div > span {
    margin: 10px;
    text-align: start;
}

button {
    border: 1px solid #ccc;
    border-radius:5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 6px 0;
} 

#btn-submit {
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 4px;
    border: .05px solid rgb(56, 161, 126);
    background-color: aquamarine;
}

#btn-submit:hover {
    background-color: rgb(44, 247, 179);
}

.pointer {
    cursor: pointer;
}

.start {
    background-color: rgb(112, 211, 112);
    text-transform: capitalize;
}

.start:hover {
    background-color: rgb(15, 201, 15);
}

.edit {
    background-color: rgb(38, 224, 248);
    text-transform: capitalize;
}

.edit:hover:enabled {
    background-color: rgb(63, 176, 252);
}

.delete {
    background-color: rgb(255, 116, 116);
    text-transform: capitalize;
}

.delete:hover:enabled {
    background-color: red;
}

.active {
    background-color: rgb(252, 252, 120);
}
.active:hover {
    background-color: yellow;
}


.finished:hover {
    background-color: rgb(209, 209, 209);
}

@media only screen and (max-width: 800px) {
    main {
        max-width: 95%;
        margin: 50px auto 0;
        padding: 60px 0;
        text-align: center;
    }

    #header {
        font-size: 1.8rem;
    }
}